<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="PhoneType" value="ApplePhone.ApplePhone, ApplePhone"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name ="AllInterfaces"/>
    <assembly name ="NokiaPhone"/>
    <assembly name ="ApplePhone"/>
    <assembly name ="SamsungPhone"/>
    <assembly name ="LoggingTypes"/>
    
    <namespace name="AllInterfaces" />
    <namespace name="NokiaPhone" />
    <namespace name="ApplePhone" />
    <namespace name="SamsungPhone" />
    <namespace name="LoggingTypes" />
    
    <container>
      <register type="IPhone" mapTo="ApplePhone" />
      <register type="ILogging" mapTo="DBLogging" />
    </container>
  </unity>
</configuration>