<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <connectionStrings>
    <add name="SQLDataAccess.Properties.Settings.MyDataBaseConnectionString"
      connectionString="Data Source=.;Initial Catalog=MyDataBase;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>